{{set . "title" "Home"}}
{{template "header.html" .}}

<!--
<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>It works!</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>
-->

<div class="container">
  <div class="row">
    <div class="span6">
      <div id="nodes"></div>
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<script>
function gethealth(token, mid, row) {
	$.ajax({
		url: "api/status/" + mid + "?token=" + token,
	}).done(function(data){
		var status = $('<td></td>').text(data.healthy);
		row.append(status);
	});
}

(function worker() {
	var token = window.location.search.substr(1).split("&")[0].split("=")[1];
	$.ajax({
		url: "api/nodes?token="+token,
		success: function(data) {
			nodes = data.nodes;

			var table = $('<table></table>').addClass('table');
			for(i=0; i < nodes.length; i++){
				var row = $('<tr></tr>').addClass('row');

				var name = nodes[i].sysname;
				var mid = nodes[i].mid;

				var nametd = $('<td></td>').text(name);
				row.append(nametd);

				gethealth(token, mid, row);

				table.append(row);
			}
			$('#nodes').html(table);
		},
		complete: function() {
			setTimeout(worker, 5000);
		}
	});
})();

</script>

{{template "footer.html" .}}
